<div class="container-fluid d-flex px-0 h-100">
  <div class="d-flex flex-row w-100">
    <div style="overflow: auto; width: 50%; flex-grow: 1; flex-shrink: 1;">
      <div class="p-2">
        <p>FizzBuzz Settings</p>
        <form [formGroup]="fizzBuzzForm" (ngSubmit)="onSubmit()" ngNativeValidate>
          <div class="mb-3 row">
            <label for="exampleFormControlInput1" class="col-sm-4 col-form-label">Max Number</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" formControlName="maxNumber" required />
            </div>
          </div>
          <div class="mb-3">
            <div formArrayName="divisors">
              <div *ngFor="let divisor of divisors.controls; let i = index;">
                <div [formGroupName]="i" class="mb-3 row">
                  <div class="col-5">
                    <label class="form-label">Divisor</label>
                    <input class="form-control" type="number" formControlName="divisor" required />
                  </div>
                  <div class="col-5">
                    <label class="form-label">Printed Word</label>
                    <input class="form-control" type="text" formControlName="printedWord" required />
                  </div>
                  <div class="col-2" style="align-self: end;">
                    <button type="button" class="btn btn-danger" (click)="deleteDivior(i)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-sm-4">
                <button type="button" class="btn btn-primary" (click)="addDivisor()">+ Add divisor</button>
              </div>
            </div>
          </div>
          <div class="row px-0 mx-0">
            <div class="col-12 px-0">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div style="background: black; color: #fff; overflow: auto; width: 50%; flex-grow: 1; flex-shrink: 1;">
      <div *ngIf="isLoading" class="d-flex h-100" style="justify-content: center; align-items: center;">
        <div>
          <fa-icon [icon]="faSpinner" size="3x" [spin]="true"></fa-icon>
        </div>
      </div>
      <div *ngIf="!isLoading">
        <div class="ps-2" *ngFor="let line of lines">
          <span>{{line}}</span>
        </div>
      </div>
      <fa-icon [icon]="faWindowMinimize" class="ms-2 blink"></fa-icon>
    </div>
  </div>
</div>
